@-moz-document domain(scp-wiki.wikidot.com), domain(scp-wiki.wdfiles.com)
{
/*
  This CSS file is actually made by me, it modifies the "old" Sigma9 SCP Wiki to use the "newer" typefaces used in the "Black Highlighter" theme, without being too intrusive.

  This is somewhat untested.
*/

@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  src: url('https://rsms.me/inter/font-files/Inter-roman.var.woff2') format('woff2');
  font-named-instance: 'Regular';
  font-feature-settings: "lnum", "pnum", "kern", "cpsp", "liga", "case", "clig", "dlig" 0, "calt", "aalt" 0, "ss01", "ss02" 0, "ss03", "ss04", "zero", "cv11" 0;
           }

@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  src: url('https://rsms.me/inter/font-files/Inter-italic.var.woff2') format('woff2');
  font-named-instance: 'Italic';
  font-feature-settings: "lnum", "pnum", "kern", "cpsp", "liga", "case", "clig", "dlig" 0, "calt", "aalt" 0, "ss01", "ss02" 0, "ss03", "ss04", "zero", "cv11" 0;
           }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("https://rsms.me/inter/font-files/Inter-Regular.woff2") format("woff2");
  font-feature-settings: "lnum", "pnum", "kern", "cpsp", "liga", "case", "clig", "dlig" 0, "calt", "aalt" 0, "ss01", "ss02" 0, "ss03", "ss04", "zero", "cv11" 0;
           }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url("https://rsms.me/inter/font-files/Inter-Bold.woff2") format("woff2");
  font-feature-settings: "lnum", "pnum", "kern", "cpsp", "liga", "case", "clig", "dlig" 0, "calt", "aalt" 0, "ss01", "ss02" 0, "ss03", "ss04", "zero", "cv11" 0;
           }

body {
  font: 0.8em 'Inter var', 'Inter', sans-serif !important;
  font-family: 'Inter var', 'Inter', sans-serif !important;
  font-feature-settings: "lnum", "pnum", "kern", "cpsp", "liga", "case", "clig", "dlig" 0, "calt", "aalt" 0, "ss01", "ss02" 0, "ss03", "ss04", "zero", "cv11" 0;
     }

@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 100 900;
  src: url('https://nu-scptheme.github.io/Black-Highlighter/fonts/Recursive_VF_1.077.woff2') format('woff2');
           }

tt {
  font: 0.98em 'Recursive', monospace !important;
  font-family: 'Recursive', monospace !important;
   }

}
